/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 8, ../sass/throw.scss */
.hiding {
  display: none !important;
}

/* line 11, ../sass/throw.scss */
html, body {
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: black;
}

/* line 18, ../sass/throw.scss */
.container {
  position: relative;
  width: 100%;
}
/* line 23, ../sass/throw.scss */
.container .btn {
  color: white;
  padding: 5px;
  font-size: 1rem;
  position: absolute;
  z-index: 10;
}
/* line 29, ../sass/throw.scss */
.container .btn.btn-CKW {
  left: 0;
}
/* line 32, ../sass/throw.scss */
.container .btn.btn-CCKW {
  left: auto;
  right: 0;
}

/* line 38, ../sass/throw.scss */
.circle-wrapper {
  position: absolute;
  top: 10vw;
  width: 100%;
  height: 100vw;
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}
/* line 48, ../sass/throw.scss */
.circle-wrapper .circle > img {
  position: absolute;
  width: 100%;
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}
/* line 54, ../sass/throw.scss */
.circle-wrapper .circle > img.outer1 {
  -webkit-animation: spin-clockwise 40s linear infinite;
  animation: spin-clockwise 40s linear infinite;
}
/* line 59, ../sass/throw.scss */
.circle-wrapper .circle > img.outer2 {
  -webkit-animation: spin-counterclockwise 36s linear infinite;
  animation: spin-counterclockwise 36s linear infinite;
}
/* line 64, ../sass/throw.scss */
.circle-wrapper .circle > img.inner1 {
  -webkit-animation: spin-clockwise 3s linear infinite;
  animation: spin-clockwise 3s linear infinite;
}
/* line 69, ../sass/throw.scss */
.circle-wrapper .circle > img.inner2 {
  -webkit-animation: spin-clockwise 5s linear infinite;
  animation: spin-clockwise 5s linear infinite;
}
/* line 73, ../sass/throw.scss */
.circle-wrapper .circle > img.inner3 {
  -webkit-animation: spin-clockwise 7s linear infinite;
  animation: spin-clockwise 7s linear infinite;
}
/* line 78, ../sass/throw.scss */
.circle-wrapper .circle > img.inner4 {
  -webkit-animation: spin-clockwise 9s linear infinite;
  animation: spin-clockwise 9s linear infinite;
}
/* line 83, ../sass/throw.scss */
.circle-wrapper .circle > img.inner5 {
  -webkit-animation: spin-clockwise 11s linear infinite;
  animation: spin-clockwise 11s linear infinite;
}

@keyframes spin-counterclockwise {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@-webkit-keyframes spin-counterclockwise {
  0% {
    -webkit-transform: rotate(360deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
  }
}
@keyframes spin-clockwise {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes spin-clockwise {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
